{% extends "base.html" %}
{% load static %}

{% block header_setting %}
  <link href="{% static 'core/css/ai_canvas.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}PK Center | OTP{% endblock %}

{% block body %}
  <main>
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" width="10" height="10" style="width: 10%; height: 10%;"></canvas>
    </div>
    <section class="hero-section d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-12 mx-auto">
            <form class="custom-form login-form" role="form" method="post"> {% csrf_token %}
              <h2 class="hero-title text-center text-info mb-4 pb-2"> Login </h2>
                <div class="form-floating mb-4 p-0">
                  <input type="password" name="otp" id="otp" class="form-control" placeholder="Enter the temporary code..." required="">

                  <label for="otp">Enter the temporary code</label>
                </div>

                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-5 col-12 ps-5">
                  <button type="submit" class="form-control"> Check </button>
                </div>

                <div class="col-lg-5 col-12">
                  <a href="{% url "users:login" %}" class="btn custom-btn custom-border-btn"> cancel </a>
                </div>
              </div>

            </form>
                
          </div>
        </div>
      </div>
    </section>

  </main>
  {% endblock %}
  ai_canvas
{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'items/js/ai_canvas_white.js' %}"></script>
{% endblock %}
