{% extends "base.html" %}
{% load static %}

{% block header_setting %}
    <link href="{% static 'core/css/top_sellers.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/ai_canvas.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/beauty_mouse.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/show.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}PK Center | Home{% endblock %}

{% block body %}
    <main>
        <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 ">

                        
                      <h1 class="text-white mt-2 mb-4 pb-2">
                            You can find anything from anywhere !
                            <hr class="" size="7" width="70%" style="background-color: aliceblue; opacity: 70%;"> 
                            <small> by 
                                <a rel="nofollow" target="_blank" href="https://github.com/pksenpai">PKPY</a>
                                    With the help of ready-made templates for free
                            </small>
                        </h1>

                         <ul class="d-flex flex-wrap align-items-center">
                            <li class="d-flex flex-column justify-content-center align-items-center">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="{% static 'core/videos/earth.mp4' %}" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>
        
        <div>
            <h1 style="text-align: center">anyone with anystyle</h1>

            <div class="scroller" data-speed="fast">
                <ul class="tag-list scroller__inner">
                    {% for category in categories %}
                        <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="scroller" data-direction="right" data-speed="slow">
                <div class="scroller__inner">
                    <img src="https://i.pravatar.cc/150?img=1" alt="" />
                    <img src="https://i.pravatar.cc/150?img=2" alt="" />
                    <img src="https://i.pravatar.cc/150?img=3" alt="" />
                    <img src="https://i.pravatar.cc/150?img=4" alt="" />
                    <img src="https://i.pravatar.cc/150?img=5" alt="" />
                    <img src="https://i.pravatar.cc/150?img=6" alt="" />
                </div>
            </div>
        </div>


        <div class="mt-5 align-items-center" id="hero-slides">
            <h1 style="text-align: center">Top Sellers</h1>
            <div id="slides" class="row bg-black">
                {% for seller in sellers %}
                <div class="slide item m-2 col-3" style="background-image: url({{ seller.src.url }}) ">
                    <div class="number">{{ seller.rank }}</div>
                    <div class="body">
                    <div class="location" style="font-size: 40px;">{{ seller.category }}</div>
                    <div class="headline">{{ seller.name }}</div><a href="https://unsplash.com/photos/EYmhcdGuYmI" target="_blank">
                        <div class="link">View Seller Profile</div></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="particles-js">
            <canvas class="particles-js-canvas-el" width="300" height="688" style="width: 100%; height: 100%;"></canvas>
        </div>
    </main>
    {% endblock %}
    ai_canvas
{% block js %}
    <script src="{% static 'core/js/show.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'core/js/ai_canvas.js' %}"></script>
    <script src="{% static 'core/js/beauty_mouse.js' %}"></script>
{% endblock %}
